<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <!-- app/views/questions/ask.html.erb -->
<h1>Ask a Question</h1>
<form action="/answer" method="get" data-turbo="false">
  <label for="question">Your Question:</label>
  <input type="text" name="question" id="question">
  <input type="submit" value="Ask!">
</form>
  </body>
</html>
